<div class="activities-component">
  <div class="buttons-container flex justify-content-center">
    <p-button
      (click)="showDialog()"
      icon="pi pi-external-link"
      label="Adicionar nova atividade"
    ></p-button>
    <p-button
      (click)="cleanActivities()"
      icon="pi pi-trash"
      label="Excluir atividades"
    ></p-button>
  </div>

  <div class="cards-container flex justify-content-center flex-wrap">
    @for (activity of activitiesListRender; track $index) {

    <p-card
      class="card"
      [style]="{ width: '175px', height: '316px', position: 'relative' }"
    >
      <ng-template pTemplate="header">
        <img [alt]="activity.name" [src]="activity.img" class="border-round" />
      </ng-template>
      <ng-template pTemplate="p-card-content">
        <p class="m-0">{{ activity.name }}</p>
        <p class="m-0">{{ activity.date }}</p>
        @if (activity.distance) {
        <span class="m-0">{{ activity.distance }} km </span>
        } @if(activity.distance && activity.duration){
        <span class="m-0"> - </span>
        } @if (activity.duration) {
        <span class="m-0">{{ activity.duration }} min</span>
        }
      </ng-template>
      <p-button
        icon="pi pi-times"
        styleClass="p-button-rounded p-button-secondary p-button-raised p-button-text"
        class="delete-button"
        (click)="deleteActivity($index)"
      ></p-button>
    </p-card>
    }
  </div>
  <!-- </div> -->

  <div class="dialog-container">
    <p-dialog
      header="Adicionar atividade"
      [(visible)]="dialogVisible"
      [breakpoints]="{ '768px': '75vw', '480px': '97vw' }"
      [style]="{ width: '50vw', maxwidth: '750px' }"
      [draggable]="false"
      [resizable]="false"
      [modal]="true"
    >
      <div class="form-container flex justify-content-center">
        <form [formGroup]="activitiesForm" (ngSubmit)="submitForm()">
          <span class="input p-fluid p-float-label">
            <p-dropdown
              appendTo="body"
              formControlName="name"
              [options]="optActivities"
              inputId="name"
              placeholder="Selecione uma atividade"
            ></p-dropdown>
            <label for="name">Atividade *</label>
          </span>
          <span class="input p-fluid p-float-label">
            <p-calendar
              formControlName="date"
              appendTo="body"
              dateFormat="dd/mm/yy"
              [iconDisplay]="'input'"
              [showIcon]="true"
              [showButtonBar]="true"
              inputId="date"
            ></p-calendar>
            <label for="date">Data *</label>
          </span>
          <span class="input p-fluid p-float-label">
            <p-inputNumber
              formControlName="distance"
              inputId="distance"
              suffix=" km"
              locale="pt"
              [useGrouping]="false"
              [maxlength]="3"
            ></p-inputNumber>
            <label for="distance">Distância</label>
          </span>
          <span class="input p-fluid p-float-label">
            <p-inputNumber
              formControlName="duration"
              inputId="duration"
              suffix=" min"
              locale="pt"
              [useGrouping]="false"
              [maxlength]="3"
            ></p-inputNumber>
            <label for="duration">Duração</label>
          </span>
          <div class="buttonsForm flex justify-content-center">
            <p-button
              type="Submit"
              label="Adicionar"
              icon="pi pi-plus"
              [disabled]="activitiesForm.invalid"
            ></p-button>
            <p-button
              type="reset"
              label="Limpar"
              icon="pi pi-eraser"
            ></p-button>
          </div>
        </form>
      </div>
    </p-dialog>
  </div>
</div>
