<div class="card flex flex-column">
  <div class="buttons flex justify-content-center">
    <p-button
      (click)="showDialog()"
      icon="pi pi-external-link"
      label="Adicionar nova atividade"
    ></p-button>
    <p-button
      (click)="cleanActivities()"
      icon="pi pi-trash"
      label="Excluir atividades"
    ></p-button>
  </div>
  <div class="cards flex justify-content-center">
    @for (activity of activitiesListRender; track $index) {

    <p-card [style]="{ width: '150px' }">
      <ng-template pTemplate="header">
        <img [alt]="activity.name" [src]="activity.img" />
      </ng-template>
      <p class="m-0">{{ activity.name }}</p>
      <p class="m-0">{{ activity.date }}</p>
      @if (activity.distance) {
      <span class="m-0">{{ activity.distance }} km </span>
      } @if(activity.distance && activity.duration){
      <span class="m-0"> - </span>
      } @if (activity.duration) {
      <span class="m-0">{{ activity.duration }} min</span>
      }
      <ng-template pTemplate="footer">
        <!-- <p-button label="Save" icon="pi pi-check"></p-button> -->
        <p-button
          icon="pi pi-times"
          styleClass="p-button-secondary"
          [style]="{ 'margin-left': '.5em' }"
          (click)="deleteActivity($index)"
        ></p-button>
      </ng-template>
    </p-card>

    <!-- <div class="card">
      
    </div> -->
    }
  </div>
</div>

<p-dialog
  header="Adicionar atividade"
  [(visible)]="dialogVisible"
  [breakpoints]="{ '768px': '75vw', '480px': '97vw' }"
  [style]="{ width: '50vw', maxwidth: '750px' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <div class="form flex justify-content-center">
    <form [formGroup]="activitiesForm" (ngSubmit)="submitForm()">
      <div class="input">
        <span class="p-float-label">
          <p-dropdown
            appendTo="body"
            formControlName="name"
            [options]="optActivities"
            inputId="name"
            placeholder="Selecione uma atividade"
            [style]="{ width: '350px' }"
          ></p-dropdown>
          <label for="name">Atividade *</label>
        </span>
      </div>
      <div class="input">
        <span class="p-float-label">
          <p-calendar
            formControlName="date"
            appendTo="body"
            dateFormat="dd/mm/yy"
            [iconDisplay]="'input'"
            [showIcon]="true"
            [showButtonBar]="true"
            inputId="date"
            [style]="{ width: '350px' }"
          ></p-calendar>
          <label for="date">Data *</label>
        </span>
      </div>
      <div class="input flex justify-content-center">
        <span class="p-float-label">
          <p-inputNumber
            formControlName="distance"
            inputId="distance"
            suffix=" km"
            locale="pt"
            [style]="{ width: '350px' }"
            [useGrouping]="false"
            [maxlength]="3"
          ></p-inputNumber>
          <label for="distance">Distância</label>
        </span>
      </div>
      <div class="input flex justify-content-center">
        <span class="p-float-label">
          <p-inputNumber
            formControlName="duration"
            inputId="duration"
            suffix=" min"
            locale="pt"
            [style]="{ width: '350px' }"
            [useGrouping]="false"
            [maxlength]="3"
          ></p-inputNumber>
          <label for="duration">Duração</label>
        </span>
      </div>
      <div class="buttonsForm flex justify-content-center">
        <p-button
          type="Submit"
          label="Adicionar"
          icon="pi pi-plus"
          [disabled]="activitiesForm.invalid"
        ></p-button>
        <p-button type="reset" label="Limpar" icon="pi pi-eraser"></p-button>
      </div>
    </form>
  </div>
</p-dialog>
